extends ../node_modules/pug-bootstrap/layouts/dashboard
include ./common/common

include ../node_modules/pug-bootstrap/components/dropdowns


append styles     
  link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css', 
  rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css')

append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js')   

block body

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ETF Blockchain Network
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='http://localhost:4000/') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li
                        a(href='/etf')
                            | ETF Order Book                            
                    li.active
                        a(href='/transact') 
                            | Transact
                            span.sr-only (current)
                    li
                        a(href='/validate') Validate
                    li
                        a(href='/history') Blockchain History
                  

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header ETF Booking Platform
        .row 
            .col-sm-3.col-sm-offset-3.col-md-3.col-md-offset-2.main 
                form(action='/submitOrder', method='POST')                    
                    label(for='client') Client Name:
                    br                    
                    +combo("client",clients)
                    br
                    br
                    label(for='orderType') Trade Type:
                    br                    
                    +combo("orderType",['BUY','SELL'])
                    br
                    br
                    label Authorized Participant(AP) Name      
                    br                        
                    +combo("ap",aps)
                    br
                    br
                    label AP Agent Name      
                    br                        
                    +combo("apAgent",apAgents)
                    br
                    br
                    - var options = {"name":"etfTradingSymbol"}                    
                    +input("text","etfTradingSymbol","Trading Symbol",options)
                    - var options = {"name":"price"}                    
                    +input("number","price","Price",options)
                    - var options = {"name":"qty"}                    
                    +input("number","qty","Quantity",options)     
                    - var options = {"name":"tradeDate"}                                             
                    +input("text","tradeDate","Trade Date",options) 
                    - var options = {"name":"settlementDate"}                                       
                    +input("text","settlementDate","Settlment Date ",options)
                    button.btn.btn-primary(type='submit') Submit Order
                br                                