extends ../node_modules/pug-bootstrap/layouts/dashboard
include ../node_modules/pug-bootstrap/components/dropdowns



    
block body

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') ETF Blockchain Network
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/') Dashboard
                    li
                        a(href='#') Settings
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Help
                form.navbar-form.navbar-right
                    input.form-control(type='text', placeholder='Search...')
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    li.active
                        a(href='#')
                            | Overview
                            span.sr-only (current)
                    li
                        a(href='/transact') Transact
                    

            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header ETF Booking Platform
        .row 
            .col-sm-3.col-sm-offset-3.col-md-4.col-md-offset-2.main
                +dropdown("Select ClientName",[{url:"1", text:"111"}])
                +input("text","ClientName","Enter Price","price")
                +input("text","ClientName","Enter quantity","qty")
                select.selectpicker(data-style='btn-primary', data-live-search='true')
                    option Mustard
                    option Ketchup
                    option Relish    
                br
                +checkbox("Check me out")
                +radio("My Radio Button")
                +a-btn-primary("#") Submit
                br                                